@page "/questions/edit"
@using Microsoft.EntityFrameworkCore
@using StudentMind.Core.Entity
@inject IDbContextFactory<StudentMind.Infrastructure.Context.DatabaseContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Question</h2>
<hr />
@if (Question is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Question" OnValidSubmit="UpdateQuestion" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Question.Id" value="@Question.Id" />
                <div class="mb-3">
                    <label for="content" class="form-label">Content:</label>
                    <InputText id="content" @bind-Value="Question.Content" class="form-control" />
                    <ValidationMessage For="() => Question.Content" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdby" class="form-label">CreatedBy:</label>
                    <InputText id="createdby" @bind-Value="Question.CreatedBy" class="form-control" />
                    <ValidationMessage For="() => Question.CreatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastupdatedby" class="form-label">LastUpdatedBy:</label>
                    <InputText id="lastupdatedby" @bind-Value="Question.LastUpdatedBy" class="form-control" />
                    <ValidationMessage For="() => Question.LastUpdatedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="deletedby" class="form-label">DeletedBy:</label>
                    <InputText id="deletedby" @bind-Value="Question.DeletedBy" class="form-control" />
                    <ValidationMessage For="() => Question.DeletedBy" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="createdtime" class="form-label">CreatedTime:</label>
                    <InputDate id="createdtime" @bind-Value="Question.CreatedTime" class="form-control" />
                    <ValidationMessage For="() => Question.CreatedTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="lastupdatedtime" class="form-label">LastUpdatedTime:</label>
                    <InputDate id="lastupdatedtime" @bind-Value="Question.LastUpdatedTime" class="form-control" />
                    <ValidationMessage For="() => Question.LastUpdatedTime" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="deletedtime" class="form-label">DeletedTime:</label>
                    <InputDate id="deletedtime" @bind-Value="Question.DeletedTime" class="form-control" />
                    <ValidationMessage For="() => Question.DeletedTime" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/questions">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private string Id { get; set; }

    [SupplyParameterFromForm]
    private Question? Question { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Question ??= await context.Questions.FirstOrDefaultAsync(m => m.Id == Id);

        if (Question is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateQuestion()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Question!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!QuestionExists(Question!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/questions");
    }

    private bool QuestionExists(string id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Questions.Any(e => e.Id == id);
    }
}
