@page "/questions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using StudentMind.Core.Entity
@using StudentMind.Core.Interfaces
@implements IAsyncDisposable
@inject IUnitOfWork UnitOfWork

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="questions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="questions">
    <PropertyColumn Property="question => question.Content" />
    <PropertyColumn Property="question => question.CreatedTime" />
    <PropertyColumn Property="question => question.LastUpdatedTime" />
    <PropertyColumn Property="question => question.DeletedTime" />

    <TemplateColumn Context="question">
        <a href="@($"questions/edit?id={question.Id}")">Edit</a> |
        <a href="@($"questions/details?id={question.Id}")">Details</a> |
        <a href="@($"questions/delete?id={question.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IQueryable<Question> questions = default!;

    protected override void OnInitialized()
    {
        var questionRepository = UnitOfWork.GetRepository<Question>();
        questions = questionRepository.Entities;
    }

    public async ValueTask DisposeAsync() => await UnitOfWork.DisposeAsync();
}
