@page "/surveyquestions/create"
@using Microsoft.EntityFrameworkCore
@using StudentMind.Core.Entity
@inject IDbContextFactory<StudentMind.Infrastructure.Context.DatabaseContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>SurveyQuestion</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="SurveyQuestion" OnValidSubmit="AddSurveyQuestion" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="id" class="form-label">Id:</label> 
                <InputText id="id" @bind-Value="SurveyQuestion.Id" class="form-control" /> 
                <ValidationMessage For="() => SurveyQuestion.Id" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdby" class="form-label">CreatedBy:</label> 
                <InputText id="createdby" @bind-Value="SurveyQuestion.CreatedBy" class="form-control" /> 
                <ValidationMessage For="() => SurveyQuestion.CreatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastupdatedby" class="form-label">LastUpdatedBy:</label> 
                <InputText id="lastupdatedby" @bind-Value="SurveyQuestion.LastUpdatedBy" class="form-control" /> 
                <ValidationMessage For="() => SurveyQuestion.LastUpdatedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="deletedby" class="form-label">DeletedBy:</label> 
                <InputText id="deletedby" @bind-Value="SurveyQuestion.DeletedBy" class="form-control" /> 
                <ValidationMessage For="() => SurveyQuestion.DeletedBy" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="createdtime" class="form-label">CreatedTime:</label> 
                <InputDate id="createdtime" @bind-Value="SurveyQuestion.CreatedTime" class="form-control" /> 
                <ValidationMessage For="() => SurveyQuestion.CreatedTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="lastupdatedtime" class="form-label">LastUpdatedTime:</label> 
                <InputDate id="lastupdatedtime" @bind-Value="SurveyQuestion.LastUpdatedTime" class="form-control" /> 
                <ValidationMessage For="() => SurveyQuestion.LastUpdatedTime" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="deletedtime" class="form-label">DeletedTime:</label> 
                <InputDate id="deletedtime" @bind-Value="SurveyQuestion.DeletedTime" class="form-control" /> 
                <ValidationMessage For="() => SurveyQuestion.DeletedTime" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/surveyquestions">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private SurveyQuestion SurveyQuestion { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSurveyQuestion()
    {
        using var context = DbFactory.CreateDbContext();
        context.SurveyQuestions.Add(SurveyQuestion);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/surveyquestions");
    }
}
