@page "/surveyquestions/create"
@using Microsoft.EntityFrameworkCore
@using StudentMind.Core.Entity
@using StudentMind.Core.Interfaces
@inject IUnitOfWork UnitOfWork
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>SurveyQuestion</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="SurveyQuestion" OnValidSubmit="AddSurveyQuestion" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="id" class="form-label">Id:</label> 
                <InputText id="id" @bind-Value="SurveyQuestion.Id" class="form-control" /> 
                <ValidationMessage For="() => SurveyQuestion.Id" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="surveyid" class="form-label">Survey Id:</label> 
                <InputText id="surveyid" @bind-Value="SurveyQuestion.SurveyId" class="form-control" />
                <ValidationMessage For="() => SurveyQuestion.SurveyId" class="text-danger" /> 
            </div>    
            <div class="mb-3">
                <label for="questionid" class="form-label">Question Id:</label>
                <InputText id="questionid" @bind-Value="SurveyQuestion.QuestionId" class="form-control" />
                <ValidationMessage For="() => SurveyQuestion.QuestionId" class="text-danger" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/surveyquestions">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private SurveyQuestion SurveyQuestion { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddSurveyQuestion()
    {
        var surveyQuestionRepository = UnitOfWork.GetRepository<SurveyQuestion>();
        await surveyQuestionRepository.InsertAsync(SurveyQuestion);
        await UnitOfWork.SaveAsync();
        NavigationManager.NavigateTo("/surveyquestions");
    }
}
