@page "/surveyquestions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using StudentMind.Core.Entity
@using StudentMind.Core.Interfaces
@implements IAsyncDisposable
@inject IUnitOfWork UnitOfWork

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="surveyquestions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="surveyQuestions">
    <PropertyColumn Property="surveyquestion => surveyquestion.SurveyId" />
    <PropertyColumn Property="surveyquestion => surveyquestion.QuestionId" />
    <PropertyColumn Property="surveyquestion => surveyquestion.CreatedTime" />
    <PropertyColumn Property="surveyquestion => surveyquestion.LastUpdatedTime" />
    <PropertyColumn Property="surveyquestion => surveyquestion.DeletedTime" />

    <TemplateColumn Context="surveyquestion">
        <a href="@($"surveyquestions/edit?surveyid={surveyquestion.SurveyId}")">Edit</a> |
        <a href="@($"surveyquestions/details?surveyid={surveyquestion.SurveyId}")">Details</a> |
        <a href="@($"surveyquestions/delete?surveyid={surveyquestion.SurveyId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private IQueryable<SurveyQuestion> surveyQuestions = default!;

    protected override void OnInitialized()
    {
        var surveyQuestionRepository = UnitOfWork.GetRepository<SurveyQuestion>();
        surveyQuestions = surveyQuestionRepository.Entities;
    }

    public async ValueTask DisposeAsync() => await UnitOfWork.DisposeAsync();
}
