@page "/surveyquestions"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using StudentMind.Core.Entity
@using StudentMind.Infrastructure.Context
@implements IAsyncDisposable
@inject IDbContextFactory<StudentMind.Infrastructure.Context.DatabaseContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="surveyquestions/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.SurveyQuestions">
    <PropertyColumn Property="surveyquestion => surveyquestion.Id" />
    <PropertyColumn Property="surveyquestion => surveyquestion.CreatedBy" />
    <PropertyColumn Property="surveyquestion => surveyquestion.LastUpdatedBy" />
    <PropertyColumn Property="surveyquestion => surveyquestion.DeletedBy" />
    <PropertyColumn Property="surveyquestion => surveyquestion.CreatedTime" />
    <PropertyColumn Property="surveyquestion => surveyquestion.LastUpdatedTime" />
    <PropertyColumn Property="surveyquestion => surveyquestion.DeletedTime" />

    <TemplateColumn Context="surveyquestion">
        <a href="@($"surveyquestions/edit?surveyid={surveyquestion.SurveyId}")">Edit</a> |
        <a href="@($"surveyquestions/details?surveyid={surveyquestion.SurveyId}")">Details</a> |
        <a href="@($"surveyquestions/delete?surveyid={surveyquestion.SurveyId}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private DatabaseContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
