@page "/choices/create"
@using Microsoft.EntityFrameworkCore
@using StudentMind.Core.Entity
@using StudentMind.Core.Interfaces
@inject IUnitOfWork UnitOfWork
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Choice</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Choice" OnValidSubmit="AddChoice" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="content" class="form-label">Content:</label> 
                <InputText id="content" @bind-Value="Choice.Content" class="form-control" /> 
                <ValidationMessage For="() => Choice.Content" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="questionid" class="form-label">QuestionId:</label> 
                <InputText id="questionid" @bind-Value="Choice.QuestionId" class="form-control" /> 
                <ValidationMessage For="() => Choice.QuestionId" class="text-danger" /> 
            </div>             
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/choices">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Choice Choice { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddChoice()
    {
        var choiceRepository = UnitOfWork.GetRepository<Choice>();
        await choiceRepository.InsertAsync(Choice);
        await UnitOfWork.SaveAsync();
        NavigationManager.NavigateTo("/choices");
    }
}
