@page
@model StudentMind.Razor.Pages.ChoicePages.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Choice</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Choice.Content" class="control-label"></label>
                <input asp-for="Choice.Content" class="form-control" />
                <span asp-validation-for="Choice.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice.QuestionId" class="control-label"></label>
                <select asp-for="Choice.QuestionId" class ="form-control" asp-items="ViewBag.QuestionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Choice.Id" class="control-label"></label>
                <input asp-for="Choice.Id" class="form-control" />
                <span asp-validation-for="Choice.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice.CreatedBy" class="control-label"></label>
                <input asp-for="Choice.CreatedBy" class="form-control" />
                <span asp-validation-for="Choice.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice.LastUpdatedBy" class="control-label"></label>
                <input asp-for="Choice.LastUpdatedBy" class="form-control" />
                <span asp-validation-for="Choice.LastUpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice.DeletedBy" class="control-label"></label>
                <input asp-for="Choice.DeletedBy" class="form-control" />
                <span asp-validation-for="Choice.DeletedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice.CreatedTime" class="control-label"></label>
                <input asp-for="Choice.CreatedTime" class="form-control" />
                <span asp-validation-for="Choice.CreatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice.LastUpdatedTime" class="control-label"></label>
                <input asp-for="Choice.LastUpdatedTime" class="form-control" />
                <span asp-validation-for="Choice.LastUpdatedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Choice.DeletedTime" class="control-label"></label>
                <input asp-for="Choice.DeletedTime" class="form-control" />
                <span asp-validation-for="Choice.DeletedTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
