<div class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StudentMind</a>
        <input type="checkbox" title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu" />
    </div>
</div>

<div class="nav-scrollable @(collapseNavMenu ? "" : "active")">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-box-arrow-in-right" aria-hidden="true"></span> Login
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-people-fill" aria-hidden="true"></span> Users
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="surveys">
                <span class="bi bi-clipboard-data" aria-hidden="true"></span> Surveys
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="questions">
                <span class="bi bi-question-circle-fill" aria-hidden="true"></span> Questions
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="choices">
                <span class="bi bi-list-check" aria-hidden="true"></span> Choices
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="events">
                <span class="bi bi-calendar-event" aria-hidden="true"></span> Events
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="appointments">
                <span class="bi bi-list-check" aria-hidden="true"></span> Appointments
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}