@page
@model IndexModel
@{
    ViewData["Title"] = "StudentMind";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To Know better of our future generation.</p>

    @if (User.Identity?.IsAuthenticated == true)
    {
        <p>Welcome, @User.Identity.Name!</p>
        <form method="post" asp-page="/AuthPages/Logout">
            <button type="submit" class="btn btn-danger">Logout</button>
        </form>
    }
    else
    {
        <a asp-page="/AuthPages/Login" class="btn btn-primary">Login</a>
    }
</div>
